<header style="color:#b5b5b8;">
    <div class="col-xs-6">
        <h3>Diary</h3>
    </div>
    <div class="col-xs-6" style="padding-top: 22px;text-align: right">
        <a href="#/login"><i class="fa fa-reply fa-2x" style="color: #fcfcff;margin-right: 10px;cursor: pointer; cursor: hand;"></i></a>
    </div>
</header>

<main style="height: 600px;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-md-offset-4 col-md-3 col-sm-offset-3 col-sm-5 col-xs-offset-1 col-xs-7">
                    <div id="form_email" class="form-group">
                        <input autofocus="true" style="background-color:transparent;color:#B5B5B8;" type="email" class="form-control" placeholder="test@somewhere.com" v-model="email" v-on="change:removeError">
                    </div>
                    <div id="form_password" class="form-group">
                        <input style="background-color:transparent;color:#B5B5B8;" type="password" class="form-control" placeholder="*******" v-model="password" v-on="change:removeError">
                    </div>
                    <div id="form_password_repeat" class="form-group">
                        <input style="background-color:transparent;color:#B5B5B8;" type="password" class="form-control" placeholder="*******" v-model="passwordRepeat" v-on="change:removeError">
                    </div>
                </div>
                <div class="col-md-1 col-sm-2 col-xs-2">
                    <a v-on="click:signUp"><i style="padding-top: 38px;color: #B5B5B8;cursor: pointer; cursor: hand;" class="fa fa-user-plus fa-4x"></i></a>
                </div>
            </div>

        </form>
    </div>
</main>
<footer>
    <div class="container-fluid" style="margin-top: 10px;vertical-align: bottom;">
        <div class=" col-xs-offset-6 col-xs-6" style="padding-top:5px;text-align: right;">
            <i id="icon_doing" class="fa fa-spinner fa-pulse fa-1x hidden" style="color: #fcfcff" ></i>
        </div>
    </div>
</footer>